html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*
    WAT IS THIS?!
    We inherit box-sizing: border-box; from our <html> selector
    Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
  */
*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  display: grid;
  text-align: center;
  grid-template-areas:
    "header header header"
    "player player player";
  grid-template-columns: 3fr 1fr 3fr;
  grid-gap: 20px;
}

header {
  grid-column: header-start / header-end;
}

#playerArea,
#compArea,
#centerArea {
  display: grid;
  background-color: cadetblue;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

h2,
p {
  grid-column: 1 / -1;
}

img {
  height: 300px;
}

input,
h4 {
  border: none;
  background-color: aquamarine;
  grid-column: 1 / -1;
}